<app-header></app-header>
<app-sidebar moduleName="cuaca"></app-sidebar>

<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Cuaca</h1>
        </div>
        <!--/.Col-->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
            <li class="breadcrumb-item activate">Cuaca</li>
          </ol>
        </div>
        <!--/.col-->
      </div>
      <!-- Row-->
    </div>
    <!--Fluid-->
  </div>
  <!--header-->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="table-responsive">
          <table
            id="table1"
            class="table table-hover table-bordered table-striped"
          >
            <thead>
              <tr>
                <th>Waktu</th>
                <th>Icon</th>
                <th>Cuaca</th>
                <th>Suhu</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <!--/.row main row-->
    </div>
    <!--/.container fluid-->
  </section>
  <app-footer></app-footer>
</div>
<!--Wrapper-->
