<div class="wrapper">
  <app-header></app-header>
  <app-sidebar moduleName="mahasiswa"></app-sidebar>

  <!--Content wrapper, Contains page content-->
  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row-mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Mahasiswa</h1>
          </div>
          <!--col-->
          <div class="col-sm-6">
            <ol class="breadcrump float-sm-right">
              <li class="breadcrumb-item"><a href="dashboard">Home</a></li>
              <li class="breadcrumb-item activate">Mahasiswa</li>
            </ol>
          </div>
          <!--/.col-->
        </div>
        <!--/.row-->
      </div>
      <!-- /.container-fluid-->
    </div>
    <!-- /.content-header-->
    <!--Main Content-->
    <section class="content">
      <div class="container-fluid">
        <!-- Main Row-->
        <div class="row"></div>
        <div class="table-responsive">
          <table
            id="table1"
            class="table table-hover table-bordered table-striped"
          >
            <thead>
              <tr>
                <th>NIM</th>
                <th>Nama</th>
                <th>Jenis Kelamin</th>
                <th>Tempat, Tanggal Lahir</th>
                <th>JP</th>
                <th>Alamat</th>
                <th>Status</th>
                <th>Tahun Masuk</th>
              </tr>
            </thead>
          </table>
        </div>
        <!--/.row (MAIN row)-->
      </div>
      <!--/. container-fluid-->
    </section>
    <!--/.content-->
  </div>
  <!--/.Content wrapper-->
  <app-footer></app-footer>
</div>
