<div class="wrapper">
  <app-header></app-header>
  <app-sidebar moduleName="forex"></app-sidebar>

  <!--Content Wrapper-->
  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <h1 class="m-0 text-dark">Forex</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrump float-sm-right">
            <li class="breadcrump-item"><a href="/dashboard">Home</a></li>
            <li class="breadcrump-item active">Forex</li>
          </ol>
        </div>
      </div>
    </div>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="table-responsive">
            <table
              id="table1"
              class="table table-hover table-bordered table-stripped"
            >
              <thead>
                <tr>
                  <th>No</th>
                  <th>Simbol</th>
                  <th>Kurs</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
  <app-footer></app-footer>
</div>
